<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Estilo y belleza</title>
  <!-- Estilos -->
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link href="../../static/css/style.css" rel="stylesheet">
  <!-- CDN fontsawesome -->
  <script crossorigin="anonymous" src="https://kit.fontawesome.com/2f2f775292.js"></script>
  <!-- Fuentes -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
</head>
<body class="fondo-interno">
<header>
  <div class="container">
    <div id="logo" class="logo-interno">
      <a class="enlaces-header" th:href="@{/}">
        <img alt="Imagen del logo del negocio" src="../../img/logo.png">
        <span>Estilo y belleza</span>
      </a>
    </div>
  </div>
</header>
<div class="separador2"></div>
<main>
  <!-- Seccion del formulario -->
  <section id="seccion-formulario">
    <div class="container">
      <div id="formulario">
        <h1>Editar citas</h1>

        <form th:action="@{/citas/listar/{id}(id = ${cita.id})}" th:object="${cita}" method="POST">
          <label>Cliente a asignar:</label>
          <select class="form-select"  aria-label="Default select example" th:field="*{cliente}">
            <option selected disabled th:value="0">Selecciona un cliente</option>
            <option th:each=" cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nombre}"></option>
          </select>

          <div class="form-group">
            <label>Citas disponibles:</label>
            <select class="form-select"  aria-label="Default select example" th:field="*{detalleS}">
              <option selected disabled th:value="0">Selecciona un cliente</option>
              <option  th:each=" citaDisponible : ${citasDisponibles}" th:value="${citaDisponible.id}" th:if="${citaDisponible.disponibilidad} == true" th:text="${citaDisponible.servicioPrestado.nombreServicio}+' con el estilista: '+${citaDisponible.usuario.nombre}+' a las: '+${citaDisponible.hora}"></option>
            </select>

          <div id="enviar">
            <input type="submit" value="Crear">
          </div>
        </form>
      </div>
    </div>
  </section>
  <footer>
    <div class="container" id="footer">
      <ul class="nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Nosotros</a></li>
        <li><a href="#">Cursos</a></li>
        <li><a href="#">Politica de privacidad</a></li>
        <li><a href="#">Contactanos</a></li>
      </ul>
      <!-- Bloque copyright -->
      <div class="copyright">
        <small>&copyEstilo y belleza glennis 2023, todos los derechos reservados.</small>
      </div>
    </div>
  </footer>
</main>
</body>
</html>