<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Estilo y belleza</title>
    <!-- Estilos -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- CDN fontsawesome -->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/2f2f775292.js"></script>
    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
          rel="stylesheet">
</head>
<body>
<header>
    <div class="container">
        <div id="logo">
            <a class="enlaces-header" th:href="@{/}">
                <img alt="Imagen del logo del negocio" src="../img/logo.png">
                <span>Estilo y belleza</span>
            </a>
        </div>
        <div id="registro-consulta">
            <ul>
                <li>Registro.
                    <ul>
                        <li><a th:href="@{/usuarios/nuevo}">Usuarios</a></li>
                        <li><a th:href="@{/usuarios/nuevo}">Estilistas</a></li>
                    </ul>
                </li>

                <li><a th:href="@{/gestion}">Gestión.</a></li>
            </ul>
        </div>
    </div>

    <main>
        <article>
            <!-- Seccion 1 contiene información del negocio
             ubicación, horarios y redes-->
            <section id="seccion1">
                <div class="container" id="intro">
                    <div id="descripcion">
                        <h1>Estilo y belleza Glennis</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorem dolorum expedita
                            explicabo iure nam quo totam? Dolores, ducimus exercitationem, illum impedit labore modi
                            nobis, nulla pariatur placeat praesentium suscipit!</p>
                        <p>Ab eius esse incidunt maxime odit. Accusamus ad, alias aut consectetur, dolorum error fugiat
                            impedit ipsam nesciunt, pariatur placeat porro reprehenderit velit. Dignissimos ea eos et
                            laboriosam nisi suscipit voluptatum!</p>
                        <p>Aperiam asperiores dolor doloremque iure laboriosam minus mollitia pariatur provident, rem!
                            Architecto culpa eligendi odio omnis temporibus? Aperiam commodi doloremque eius, nulla
                            officia quas quibusdam rerum sunt voluptatibus. Asperiores, fugiat.</p>
                    </div>
                </div>
            </section>
            <div class="separador"></div>
            <!-- Sección 2 contiene información para asignar la cita
             con su enlace, tambien una pequeña lista con los servicios
             (dos columnas una para descripción de servicios y otra para una imagen
             con redireccion a la asignacion de citas)-->
            <section id="seccion2">
                <div id="parte2" class="container">
                    <div>
                        <h2>Nuestro novedoso sistema de asignación de citas.</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium et excepturi harum
                            maxime
                            officiis pariatur similique. Aut consectetur facere facilis fugit harum id illo illum labore
                            perspiciatis, reprehenderit, vitae voluptatum.</p>
                        <a th:href="@{/citas/buscar}">Quiero probarlo!</a>
                    </div>
                    <img src="../img/agenda.jpg" alt="Imagen de un almanaque">

                </div>

            <div class="separador"></div>

            </section>
            <!-- Sección 3 muestra los estilistas vinculados y su especialidad -->
            <section id="seccion3">
                <h2>Conoce nuestro personal</h2>
                <div id="parte3" class="container">
                    <div class="card">
                        <img src="../img/estilista1.jpg" alt="Imagen de un estilista de Estilo y belleza glennis">
                        <h3>Claudia Perez.</h3>
                        <p>Manicurista</p>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                    <div class="card">
                        <img src="../img/estilista2.jpg" alt="Imagen de un estilista de Estilo y belleza glennis">
                        <h3>Hernan Agudelo.</h3>
                        <p>Micropigmentación y cuidado capilar</p>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                    <div class="card">
                        <img src="../img/estilista3.jpg" alt="Imagen de un estilista de Estilo y belleza glennis">
                        <h3>Andrea Zapata</h3>
                        <p>Estilista general</p>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                    <div class="card">
                        <img src="../img/estilista4.jpg" alt="Imagen de un estilista de Estilo y belleza glennis">
                        <h3>Andres Chía</h3>
                        <p>Administrador</p>
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-square-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                </div>
            </section>
            <div class="separador"></div>
            <!-- Seccion contenedora del mapa -->
            <section id="seccion4">
                <h2>Ven y visitanos!</h2>
                <div id="parte4" class="container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7931.969970744012!2d-75.56170110659271!3d6.265704446547945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428e97b58aa2d%3A0xd23e2b9396f26411!2sManrique%20Central%20I%2C%20Aranjuez%2C%20Medell%C3%ADn%2C%20Aranjuez%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses!2sco!4v1676792283846!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <div>
                        <h3>Ubicación</h3>
                        <p>Nos encontramos en la calle 65 # 24 sur en el barrio XZY</p>
                        <p>Que esperas para visitarnos?</p>
                        <img src="../img/cabello.png" alt="Cabello">
                    </div>
                </div>
            </section>
        </article>
    </main>

    <footer>
        <div class="container" id="footer">
            <ul class="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Cursos</a></li>
                <li><a href="#">Politica de privacidad</a></li>
                <li><a href="#">Contactanos</a></li>
            </ul>
            <!-- Bloque copyright -->
            <div class="copyright">
                <small>&copyEstilo y belleza glennis 2023, todos los derechos reservados.</small>
            </div>
        </div>
    </footer>
</header>
</body>
</html>